{% extends 'base.html' %}

{% block title %} > Авторизация{% endblock %}

{% block modules_css %}
<style type="text/css">
      body {
        background-color: #f5f5f5;
      }
</style>
{% endblock %}

{% block content %}
    <div class="marketing" ng-controller="LoginCtrl">
    <form action="{{ request.url }}" class="form-signin" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading vmargin10">Авторизация</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-success">
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% if errors %}
        <div class="alert alert-danger">
            {%- for error in errors -%}
              <div>{{ error|safe }}</div>
            {%- endfor -%}
        </div>
        {% endif %}
        <div class="control-group">
            <div class="controls">
                <input type="text" ng-blur="get_roles()" ng-model="login" title="Необходимо заполнить это поле!" required="required" placeholder="Логин" name="login" id="login" class="form-control">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                {%- if request.user_agent.platform == 'macos' and request.user_agent.browser in ('chrome', 'webkit', 'google') -%}
                <input type="text" value="" title="Необходимо заполнить это поле!" required="required" placeholder="Пароль" name="password" id="password" class="form-control" style="-webkit-text-security: disc;">
                {%- else -%}
                <input type="password" value="" title="Необходимо заполнить это поле!" required="required" placeholder="Пароль" name="password" id="password" class="form-control">
                {%- endif -%}
            </div>
        </div>

        <div class="control-group">
            <select name="role" id="role" ng-disabled="!roles.length" ng-model="role" class="form-control" ng-options="r as r.name for r in roles track by r.code">
                <option value="" ng-hide="roles.length">-- выберите роль --</option>
            </select>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" ng-disabled="!role" class="btn btn-block btn-success btn-lg">Войти</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
{% block modules_js %}
    <script src="{{ url_for('static', filename='js/controllers/login.js', v=version) }}"></script>
{% endblock %}