{% extends "caesar_base.html" %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <h1>Система администрирования ЛПУ</h1>
            <p class="lead">Добро пожаловать в систему администрирования ЛПУ. Модули, доступные для работы,
                представлены ниже или через главное меню.</p>
        </div>
    </div>
    <div class="container">
        {%- for module in main_menu -%}
            {%- if loop.index > 2 and loop.index % 2 != 0 -%}
                </div>{# close div row #}
            {%- endif -%}
            {%- if loop.index % 2 != 0 -%}
                <div class="row">
                    <div class="col-md-6">
            {%- else -%}
                    <div class="col-md-6">
            {%- endif -%}
                <div class="list-group">
                    <a href="{{ url_for(module.link) }}" title="{{ module.title }}" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-11">
                                <h3 class="list-group-item-heading">{{ module.title }}</h3>
{#                                <p class="list-group-item-text">{{ module.title | safe }}</p>#}
                            </div>
                            <div class="col-xs-1">
                                <h4><span class="glyphicon glyphicon-chevron-right"></span></h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {%- endfor -%}
        </div> {# close div row #}
    </div>

{% endblock %}