<div class="list-group">
    <a href="{{ url_for(module.module + '.index') }}" title="{{ module.name }}" class="list-group-item">
        <div class="row">
            <div class="col-xs-11">
                <h3 class="list-group-item-heading">{{ module['name'] }}</h3>
                <p class="list-group-item-text">{{ module['descr'] | safe }}</p>
            </div>
            <div class="col-xs-1">
                <h4><span class="glyphicon glyphicon-chevron-right"></span></h4>
            </div>
        </div>
    </a>
</div>